		@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
		#map {
			width: 100%; 
			height: 100%;
			position: absolute; top: 0; left: 0;
			margin: 0 auto;
		}
		body { margin: 0 }

		.info {
			padding: 10px 15px;
			font: 14px/16px 'Noto Sans TC', sans-serif;
			font-weight: 400;
			background: white;
			background: rgba(255,255,255,0.8);
			box-shadow: 0 0 15px rgba(0,0,0,0.1);
			border-radius: 5px;
			line-height: 20px;
		}

		.info b {
			font-size: 16px;
		}

		.info h4 {
		    margin: 0;
		    color: #777;
		}	